@import "../../scss/breakpoints";

.project-group {
  display: flex;
  flex-wrap: wrap;
  &--project {
    width: 50%;
    cursor: pointer;
    filter: grayscale(1);
    transition: filter 300ms linear;
    &:hover {
      filter: grayscale(0);
    }
    @include md {
      width: 25%;
    }
    img {
      margin: 0;
      display: block;
    }
  }
}
