@import "../../scss/breakpoints";

.awards-hero {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  @include md {
    padding: 48px;
  }
  @include lg {
    padding: 72px;
  }
  &__awards-images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
    img {
      display: block;
      max-height: 360px;
      margin: 12px;
    }
  }
  &__awards-text {
    text-align: center;
  }
}
