@import "variables";

.btn {
  border: solid 4px $black;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none !important;
  color: $black;
  transition: all 200ms ease-in-out;
  &:hover {
    background-color: $black;
    color: white;
  }
}
